<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Admin Panel | LFG App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href="{{ url_for('admin_dashboard') }}">Admin Dashboard(CLICK HERE)</a>
    <form action="{{ url_for('admin_reports') }}" method="GET">
        <input type="text" name="search" placeholder="Search descriptions">
        <button type="submit">Search</button>
    </form>
    
    <a href="{{ url_for('home') }}">Back to Home</a>
    
    {% for post in posts %}
        <div>
            <h4>{{ post.game }} - {{ post.level_required }}</h4>
            <p>{{ post.description }}</p>
            <form action="{{ url_for('admin_delete_lfg', id=post._id_str) }}" method="POST">
                <button type="submit">Delete Post</button>
            </form>
        </div>
    {% endfor %}

</body>
</html>
