<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | LFG App</title>
</head>
<body>
    <h2>User Login</h2>
    <form action="{{ url_for('login') }}" method="POST">
        <label>Username:</label>
        <input type="text" name="username" required>
        <label>Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    
    <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a></p>
    <p>Login as an admin? <a href="{{ url_for('admin_login') }}">Login as Admin</a></p>
    
    </form>
</body>
</html>
